* {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-weight: 600;
}

.headerPhrase {
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1rem;
}

.formContainer {
  margin-bottom: 50px;
}

.btnPay {
  width: 100%;
  background-color: #00cc80;
  border: none;
  margin: 1rem 0;
}
.link {
  text-decoration: none;
}
.form-label {
  color: black;
}

.btnPaymentSuccess {
  background-color: #00cc80 !important;
}
.btnPaymentError {
  background-color: #3085d6;
}

.form-check-label {
  text-decoration: underline;
}
.form-check-label:hover {
  cursor: pointer;
}
.bold {
  font-weight: bold !important;
}
.amountTotalContainer {
  margin-top: 1rem;
  margin-right: 1rem;
  float: right;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.amountTotalContainer > span:last-child {
  border-top: 1px solid #acacacc2;
}
.amountTotalContainerPaypal {
  margin-bottom: 1rem;
}

.paynetShopsVerticalal {
  display: flex;
}

.paynetShopsHorizontal {
  display: none;
}
.paynetWrapperButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paynetWrapperButton > a {
  margin: 0.5rem;
  width: 100%;
}
.paynetLocationIcon,
.paynetShopIcon {
  width: 30px;
  margin-right: 0.5em;
}
.paynetLocationIcon {
  fill: #17a2b8;
}
.paynetShopIcon {
  fill: #343a40;
}

.paynetLocationButton:hover .paynetLocationIcon,
.paynetTiendasButton:hover .paynetShopIcon {
  fill: #ffffff;
}

.arrowDownIcon {
  width: 32px;
  height: 32px;
  float: right;
  align-self: center;
  transition: 0.5s;
}

@media screen and (min-width: 700px) {
  .paynetShopsVerticalal {
    display: none;
  }
  .paynetShopsHorizontal {
    display: flex;
  }
}

@media screen and (min-width: 426px) {
  .paynetWrapperButton {
    flex-direction: row;
  }
}

.videoPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.videoPayment h4 {
  font-size: 1rem;
  text-align: center;
}

.player .vp-title {
  display: none !important;
}

.videoPayment .video {
  height: 150px;
}

@media (min-width: 768px) {
  .videoPayment h4 {
    font-size: 1.5rem;
  }

  .videoPayment .video {
    height: 350px;
  }
}
