.notFoundWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.notFoundWrapper > img {
  max-width: 200px;
}
